﻿
.box-content 
{
	position: relative;
}

p#current-structural-data-period
{
	padding: 10px 20px;
	font-size: 30px;
	font-weight: bold;
	color: #FFF;
	margin: 0 0 20px;
}

div.structural-data-block h2 
{
	margin: 0 0 5px 0;
	font-size: 1.7em;
}

div.structural-data-block {
	margin: 20px 30px 40px 30px;
	/* min-height: 70px; */
}

div.structural-data-block > button {
	background-color: #379025;
	border: none;
	min-width: 100px;
	padding: 10px 15px;
	margin-right: 5px;
	color: #FFF;
	font-weight: bold;
	font-size: 1.0em;
}

div.structural-data-block > button:hover {
	background-color: #57B045;
}

div.structural-data-block > button:disabled {
	background-color: #999;
}

.gantt-task 
{
	cursor: pointer;
}

#gantt-container-wrapper
{
	min-height: 140px;
}

#gantt-container
{
	position: absolute;
	width: 92%;
}

div.structural-data-block .gantt-body
{
   width: 0px;
}

/* AngularCrafter overridings */

.formBox ic3-data-collection div 
{
	padding-bottom: 1px;
}

.formBox ic3-data-collection fieldset {
	display: inline-block;
	min-width: 400px;
	margin: 20px 30px 40px;
	vertical-align: top;
}

ic3-data-collection #crfs\.hospitalData,
ic3-data-collection #crfs\.dataFacilities,
ic3-data-collection #crfs\.otherActivitiesDuringShiftsPhysicians,
ic3-data-collection #crfs\.otherActivitiesDuringShiftsNurses,
ic3-data-collection #crfs\.OSS,
ic3-data-collection #crfs\.roomsData
{
	display: block;
}

ic3-data-collection #crfs\.roomsData\.roomsSet > span {
	color: #f00;
}

ic3-data-collection li.daysSpecifications span,
ic3-data-collection li.daysSpecificationsCheckbox span
{
	display: inline-block;
	width: 70px;
}

ic3-data-collection li.biomedicalEquipmentsSpecification span
{
	display: inline-block;
	width: 190px;
	min-width: 0px;
	padding: 5px;
	text-align: right;
	margin-right: 10px;	
}

ic3-data-collection div#crfs\.itResources\.dontKnow-wrapper
{
	left: 20px;
	position: relative;
	margin-bottom: 15px;
}

ic3-data-collection div#crfs\.itResources\.dontKnow-wrapper label
{
	margin-left: 15px;
}

ic3-data-collection #crfs\.itResources ul.radiolist li,
ic3-data-collection #crfs\.itResources ul.checkboxlist li,
ic3-data-collection #crfs\.ICUType ul.radiolist li,
ic3-data-collection #crfs\.ICUType ul.checkboxlist li,
ic3-data-collection #crfs\.roomsData\.roomsRelationships ul.radiolist li,
ic3-data-collection #crfs\.roomsData\.roomsRelationships ul.checkboxlist li
{
	display: list-item;
}

ic3-data-collection #crfs\.itResources ul.radiolist,
ic3-data-collection #crfs\.itResources ul.checkboxlist,
ic3-data-collection #crfs\.ICUType ul.radiolist,
ic3-data-collection #crfs\.ICUType ul.checkboxlist
ic3-data-collection #crfs\.roomsData\.roomsRelationships ul.radiolist,
ic3-data-collection #crfs\.roomsData\.roomsRelationships ul.checkboxlist
{
	display: block;
}

fieldset:disabled ic3-data-collection div span.checkBoxDescription,
fieldset:disabled ic3-data-collection div span.radioDescription,
fieldset:disabled ic3-data-collection div label
{
	color: #999;
}

fieldset:disabled ic3-data-collection legend
{
	color: #AAA;
}

fieldset:disabled ic3-data-collection div input
{
	border: 1px solid #DADADA;
	color: #DADADA;
}

ic3-data-collection div span.checkBoxDescription,
ic3-data-collection div span.radioDescription,
ic3-data-collection div span.setDescription,
ic3-data-collection div label
{
	color: #0b1080;
}
ic3-data-collection div label.strong
{
	color: #000000;
	max-width: 600px;
	margin-bottom: 25px;
}

/*startDate input*/
ic3-data-collection input
{
	position: relative; 
	background: url("../images/bg-input.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #DADADA;
	border-radius: 5px 5px 5px 5px;
	margin: 2px 0;
	padding: 4px 0;
	vertical-align: middle;
}

ic3-data-collection div textarea {
    width: 35%;
    height: 100px;
}
