<!DOCTYPE html>
<html>
    <head>
        <title>GatherCraft Basic Example</title>
        <link rel="stylesheet" href="../dist/assets/css/angular-crafter.css">
    </head>

    <body data-ng-app="it.marionegri.givitiweb.AngularCrafter"
        data-ng-controller="AngularCrafterController"
    >
        <section id="data-collection">
            <h2>My example data</h2>

            <ic3-data-collection 
                ic3-data-class="'ExampleRootClass'" 
                xsl-path="'../dist/xslt/SchemaToCollectionPage.xsl'"
                crf-path="'basic-example.xml'"
                data-ng-model="crfs">
            </ic3-data-collection>
        </section>

        <details>
            <summary>Model</summary>
            <pre>{{ crfs | json }}</pre>
        </details>

        <script src="../dist/scripts/vendor/angular.min.js"></script>
        <script src="../dist/scripts/vendor/angular-sanitize.min.js"></script>
        <script src="../dist/scripts/vendor/angular-translate.js"></script>
        <script src="../dist/scripts/vendor/frameless-xslt2.js"></script>
        <script src="../dist/scripts/vendor/libsodium.js"></script>
        <script src="../dist/scripts/vendor/libsodium-wrappers.js"></script>

        <script src="../dist/scripts/services/GUIDStorage.js"></script>
        <script src="../dist/scripts/services/JSONStorage.js"></script>
        <script src="../dist/scripts/services/JSONService.js"></script>
        <script src="../dist/scripts/services/MongoService.js"></script>
        <script src="../dist/scripts/services/RESTStorage.js"></script>
        <script src="../dist/scripts/services/TranslationStorage.js"></script>
        <script src="../dist/scripts/services/PatientStatusService.js"></script>
        <script src="../dist/scripts/services/DataSynchronyzer.js"></script>

        <script src="../dist/scripts/directives/DataCollectionDirective.js"></script>
        <script src="../dist/scripts/directives/DataClassDirective.js"></script>
        <script src="../dist/scripts/directives/DatePickerDirective.js"></script>
        <script src="../dist/scripts/directives/ShortCircuitDirective.js"></script>
        <script src="../dist/scripts/directives/PatientsListDirective.js"></script>

        <script src="../dist/scripts/directives/RegionPickerDirective.js"></script>
        <script src="../dist/scripts/directives/ProvincePickerDirective.js"></script>
        <script src="../dist/scripts/directives/TownPickerDirective.js"></script>

        <script src="../dist/scripts/directives/TooltipDirective.js"></script>

        <script src="../dist/scripts/controllers/AbstractController.js"></script>
        <script src="../dist/scripts/controllers/ObjectController.js"></script>
        <script src="../dist/scripts/controllers/Controller.js"></script>

        <script src="../dist/scripts/utils/GlobalUtils.js"></script>
        
        <script src="../dist/scripts/applications/Application.js"></script>
        <script>
            const jsonPath = "";
            const config = {
                userId : "USER_ID", //TODO
                centreCode : "IT999",
                dataType : "DATATYPE", //TODO
                dataKey : "DATAKEY", //TODO
                dataSource : "DATASOURCE", //TODO
                dataStorageURL: "http://localhost:4679/rows",
                keysStorageURL: "http://localhost:4689",
                translationsURL : "TRANSLATIONSURL", //TODO
                crfServiceURL : "CRFSERVICEURL", //TODO
                dataPath : "DATAPATH", //TODO
                applicationName : "APPLICATIONNAME", //TODO
                blockName : "BLOCKNAME", //TODO
                culture : "CULTURE", //TODO
                ccDataStorageURL: "https://givitiweb.marionegri.it/Services/MongoWebService.svc/",
                ccDataCollection: "TEST_SUBTI",
                secretVariables: ['crfs.NumberVariable', 'crfs.Formula']
            }
        
            it.marionegri.givitiweb.CollectionBaseApplication.create(config);
        </script>
    </body>
</html>