<!DOCTYPE html>
<html>
    <head>
        <title>Structural Data Example</title>
        <link rel="stylesheet" href="../dist/assets/css/angular-crafter.css">
        <style>
            #crfs\.structuralDataList-wrapper,
            .StructuralDataPeriodDetails
            {
                border: none;
                padding: 0;
                margin: 0;
            }

            #crfs\.structuralDataList-wrapper > .setDescription,
            .pageDescription
            {
                font-size: 1.6em;
                color: #404040;
                font-weight: bold;
            }

            .StructuralDataPeriodDetails > .groupDescription {
                display: none;
            }

            .independentSpecialistWard .radioDescription,
            .surgicalSpecialties .radioDescription,
            .biomedicalEquipment .radioDescription,
            .daysSpecifications > p
            {
                width: 150px;
                text-align: right;
                padding: 5px 20px 0 0;
            }
            
            .hospitalFacilities .radioDescription
            {
                display: block;
            }
            
            .otherICUSpecification > div,
            .room > div,
            .osSpecifications > div,
            .daysSpecifications > div,
            .daysSpecifications > p
            {
                display: inline-block;
            }

            .roomsRelationships > div > ul > li {
                margin-right: 20px;
                margin-bottom: 20px;
            }

            .roomsRelationships ul li ul li {
                display: block;
            }

            body {
                background-color: #f3f3f9;
            }

            button {
                border: medium none;
                color: #FFFFFF;
                background-color: #9AB;
                cursor: pointer;
                font: 1em Arial, sans-serif;
                font-weight: bold;
                height: 26px;
                margin-right: 3px;
                border-radius: 3px;
            }

        </style>
    </head>

    <body data-ng-app="it.marionegri.givitiweb.AngularCrafter"
        data-ng-controller="AngularCrafterController"
    >

        <section>
            <button data-ng-click="saver.saveJsonData()">Salva</button>
            <span data-ng-if="status.dataSaved">Dati salvati!</span>
        </section>

        <ic3-data-collection 
            ic3-data-class="'CentreStructuralData'" 
            xsl-path="'../dist/xslt/SchemaToCollectionPage.xsl'"
            crf-path="'structural-data.xml'"
            data-ng-model="crfs"
            data-ng-if="status.dataLoaded">
        </ic3-data-collection>

        <section>
            <button data-ng-click="saver.saveJsonData()">Salva</button>
            <span data-ng-if="status.dataSaved">Dati salvati!</span>
        </section>

        <details>
            <summary>Model</summary>
            {{ crfs }}
            <br>
            {{ vm }}
            <br>
            {{ vm.selectedPage }}
        </details>

        <!-- TODO: tree with sets?
        <h2>Tree</h2>
        <ic3-data-collection
            ic3-data-class="'CentreStructuralData'" 
            xsl-path="'../dist/xslt/SchemaToTree.xsl'"
            crf-path="'structural-data.xml'"
            data-ng-model="crfs">
        </ic3-data-collection>
        -->

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-sanitize.js"></script>
        <script src="../dist/scripts/vendor/angular-translate.js"></script>
        <script src="../dist/scripts/vendor/frameless-xslt2.js"></script>
        <script src="../dist/scripts/vendor/moment.js"></script>

        <script src="../dist/scripts/services/GUIDStorage.js"></script>
        <script src="../dist/scripts/services/JSONStorage.js"></script>
        <script src="../dist/scripts/services/RESTStorage.js"></script>
        <script src="../dist/scripts/services/MongoStorage.js"></script>
        <script src="../dist/scripts/services/JSONService.js"></script>
        <script src="../dist/scripts/services/TranslationStorage.js"></script>

        <script src="../dist/scripts/directives/DataCollectionDirective.js"></script>
        <script src="../dist/scripts/directives/DataClassDirective.js"></script>
        <script src="../dist/scripts/directives/DatePickerDirective.js"></script>
        <script src="../dist/scripts/directives/ShortCircuitDirective.js"></script>

        <script src="../dist/scripts/controllers/AbstractController.js"></script>
        <script src="../dist/scripts/controllers/ObjectController.js"></script>
        <script src="../dist/scripts/controllers/ModelSeparationController.js"></script>
        <script src="../dist/scripts/controllers/Controller.js"></script>
        <script src="../dist/scripts/controllers/RelationsController.js"></script>

        <script src="../dist/scripts/utils/GlobalConfig.js"></script>
        <script src="../dist/scripts/utils/GlobalUtils.js"></script>
        <script src="../dist/scripts/utils/ColorHelper.js"></script>
        
        <script src="../dist/scripts/applications/Application.js"></script>
        <script>
            const config = {
                userId : "IT999", //TODO

                // Salvataggio dati
                dataStorageType : it.marionegri.givitiweb.subti.MongoStorage,
                dataType : "SUBTI-StructuralDataTest",
                dataKey : "IT999",
                // dataStorageURL : "https://onfalos.org/json-storage",
                dataStorageURL : "https://givitiweb.marionegri.it/Services/MongoWebService.svc",

                dataSource : "centre",

                // CrfService
            	crfServiceURL : "CRFSERVICEURL", //TODO
            	dataPath : "DATAPATH", //TODO

                // Translations
            	translationsURL : "https://givitiweb.marionegri.it/translations/Services/TranslationWebService.svc/",
            	applicationName : "WebCentre",
            	blockName : "centreStructuralData",
            	culture : "it-IT"
            }

            it.marionegri.givitiweb.CollectionBaseApplication.create(config);
        </script>

    </body>
</html>