<!DOCTYPE html>

<html lang="en">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<head>
		<title>Test Data Collection</title>
		<link rel="stylesheet" type="text/css" href="../assets/css/jquery.datetimepicker.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/angular-crafter.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/angular-crafter.questionnaires.css" />
	</head>
	<body>
		<script type="text/javascript">
			//informazioni obbligatorie per angularCrafter
			var dataSource = "";
			var dataType = "test-data-collection";
			var dataPath = "test-data-collection";
			var dataName = "centreCode";
			var dataKey = "IT999";

			//informazioni per le traduzioni
			var applicationName = "test-data-collection";
			var blockName = "test-data-collection";
			var culture = "en-US";

			//url dei servizi
			var mongoStorageURL = "https://givitiweb.marionegri.it/Services/MongoWebService.svc/";
			var crfServiceURL = "http://episerver/givitiweb/Services/CRFWebService.svc/";
			var translationURL = "https://givitiweb.marionegri.it/translations/Services/TranslationWebService.svc/";
		</script>

		<script type="text/javascript" src="../dist/scripts/tests/libs/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="../dist/scripts/tests/libs/jquery-ui.js"></script>
		<script type="text/javascript" src="../dist/scripts/tests/libs/jquery.datetimepicker.js"></script>
		<script type="text/javascript" src="../dist/scripts/tests/libs/angular.js"></script>
		<script type="text/javascript" src="../dist/scripts/tests/libs/angular-sanitize.js"></script>
		<script type="text/javascript" src="../dist/scripts/tests/libs/angular-translate.js"></script>
		<script type="text/javascript" src="../dist/scripts/tests/libs/moment.js"></script>
		<script type="text/javascript" src="../dist/scripts/tests/libs/frameless-xslt2.js"></script>

		<script type="text/javascript" src="../dist/scripts/utils/Cache.js"></script>
		<script type="text/javascript" src="../dist/scripts/utils/GlobalConfig.js"></script>
		<script type="text/javascript" src="../dist/scripts/utils/GlobalUtils.js"></script>
		<script type="text/javascript" src="../dist/scripts/services/GUIDStorage.js"></script>
		<script type="text/javascript" src="../dist/scripts/services/JSONStorage.js"></script>
		<script type="text/javascript" src="../dist/scripts/services/ProfileStorage.js" ></script>
		<script type="text/javascript" src="../dist/scripts/services/TranslationStorage.js"></script>
		<script type="text/javascript" src="../dist/scripts/services/MongoService.js"></script>
		<script type="text/javascript" src="../dist/scripts/services/ProfileService.js" ></script>
		<script type="text/javascript" src="../dist/scripts/managers/CRFVersionsManager.js"></script>
		<script type="text/javascript" src="../dist/scripts/directives/DatePickerDirective.js"></script>
		<script type="text/javascript" src="../dist/scripts/directives/AutocompleteJSONDirective.js"></script>
		<script type="text/javascript" src="../dist/scripts/directives/DataCollectionDirective.js"></script>
		<script type="text/javascript" src="../dist/scripts/directives/DataClassDirective.js"></script>
		<script type="text/javascript" src="../dist/scripts/controllers/AbstractController.js"></script>
		<script type="text/javascript" src="../dist/scripts/controllers/ObjectController.js"></script>
		<script type="text/javascript" src="../dist/scripts/controllers/MongoController.js"></script>
		<script type="text/javascript" src="../dist/scripts/applications/MongoApplication.js"></script>

		<script>
			$(document).tooltip({
				content: function () {
					return $(this).attr('title');
				}
			});
	</script>

		<div data-ng-form="angularForm"	data-ng-app="it.marionegri.givitiweb.AngularCrafter" data-ng-controller="AngularCrafterController">

			{{ crfs }}

			<ic3-data-collection
				ic3-data-class="'test-data-collection'"
				xsl-path="'http://episerver/givitiweb/Externals/AngularCrafter/1.0.X/xslt/SchemaToPage.xsl'"
				crf-path="'test-data-collection.xml'"
				data-ng-model="crfs">
			</ic3-data-collection>

			<div class="form-message correct" data-ng-show="status.dataSaved">
				{{ 'Success!' | translate }}
			</div>
			<button type="button" class="button" data-ng-click="vm.saveJsonData()" data-ng-disabled="angularForm.$invalid">
				{{ 'Save' | translate }}
			</button>

		</div>
	</body>
</html>
