<html>
    <head>
        <title>GatherCraft SaveAsSeparated Example</title>
        <link rel="stylesheet" href="../dist/assets/css/angular-crafter.css">
    </head>

    <body data-ng-app="it.marionegri.givitiweb.AngularCrafter"
        data-ng-controller="AngularCrafterController"
    >

        <script>
            const config = {
                // Salvataggio dati
                dataType: "GatherCraftTest",
                dataKey: "17e4931e-d935-19d0-4d26-7a9c5dbda84d",
                dataStorageURL: "https://127.0.0.1:4680",
                keysStorageURL: "https://127.0.0.1:4690",

                translationsURL : "TRANSLATIONSURL", //TODO
                crfServiceURL : "CRFSERVICEURL", //TODO
                dataPath : "DATAPATH", //TODO
                applicationName : "APPLICATIONNAME", //TODO
                blockName : "BLOCKNAME", //TODO
                culture : "CULTURE", //TODO
            }

            /*
            // Per GivitiWebGuidStorage
            const dataSource = "DATASOURCE"; // "user" | "centre" (per GivitiWeb)
            
            // CrfService
            const crfServiceURL = "CRFSERVICEURL"; //TODO
            const dataPath = "DATAPATH"; //TODO per 

            // Traduzioni
            const translationURL = "TRANSLATIONSURL"; //TODO
            const applicationName = "APPLICATIONNAME"; //TODO
            const blockName = "BLOCKNAME"; //TODO
            const culture = "CULTURE"; //TODO
            */
        </script>

        <button data-ng-click="saver.saveJsonData()">Save</button>
        <span data-ng-if="status.dataSaved">Dati salvati!</span>

        <ic3-data-collection 
            ic3-data-class="'Main'" 
            xsl-path="'../dist/xslt/SchemaToCollectionPage.xsl'"
            crf-path="'test-separate-saving.xml'"
            data-ng-model="crfs"
            data-ng-if="status.dataLoaded">
        </ic3-data-collection>

        <details>
            <summary>Model</summary>
            {{ crfs }}
        </details>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-sanitize.js"></script>
        <script src="../dist/scripts/vendor/angular-translate.js"></script>
        <script src="../dist/scripts/vendor/frameless-xslt2.js"></script>

        <script src="../dist/scripts/services/GUIDStorage.js"></script>
        <script src="../dist/scripts/services/JSONStorage.js"></script>
        <script src="../dist/scripts/services/JSONService.js"></script>
        <script src="../dist/scripts/services/RESTStorage.js"></script>
        <script src="../dist/scripts/services/TranslationStorage.js"></script>
        <script src="../dist/scripts/services/PatientStatusService.js"></script>

        <script src="../dist/scripts/directives/DataCollectionDirective.js"></script>
        <script src="../dist/scripts/directives/DataClassDirective.js"></script>
        <script src="../dist/scripts/directives/DatePickerDirective.js"></script>
        <script src="../dist/scripts/directives/ShortCircuitDirective.js"></script>

        <script src="../dist/scripts/controllers/AbstractController.js"></script>
        <script src="../dist/scripts/controllers/ObjectController.js"></script>
        <script src="../dist/scripts/controllers/ModelSeparationController.js"></script>
        <script src="../dist/scripts/controllers/Controller.js"></script>

        <script src="../dist/scripts/utils/GlobalUtils.js"></script>

        <script src="../dist/scripts/applications/Application.js"></script>
        <script>
            it.marionegri.givitiweb.CollectionBaseApplication.create(config);
        </script>
    </body>
</html>