<!DOCTYPE html>
<html>
    <head>
        <title>TSI Patients</title>
        <link rel="stylesheet" href="../dist/assets/css/angular-crafter.css">
    </head>

    <body data-ng-app="it.marionegri.givitiweb.AngularCrafter"
        data-ng-controller="AngularCrafterController"
    >

        <ic3-data-collection 
            ic3-data-class="'TSIPatientDataClass'" 
            xsl-path="'../dist/xslt/SchemaToCollectionPage.xsl'"
            crf-path="'TSIPatientData_Test.xml'"
            data-ng-model="crfs">
        </ic3-data-collection>

        <details>
            <summary>Model</summary>
            {{ crfs }}
            <br><br>
            {{ patientStatus.getStatus() }}
            <br><br>
            {{ patientStatus.getAllMissingForStatus(2) }}
            <br><br>
            {{ PatientStatusService.listOfSubServices | json }}
        </details>

        <h2>Tree</h2>
        <ic3-data-collection
            ic3-data-class="'TSIPatientDataClass'" 
            xsl-path="'../dist/xslt/SchemaToTree.xsl'"
            crf-path="'TSIPatientData_Test.xml'"
            data-ng-model="crfs">
        </ic3-data-collection>

        <button data-ng-click="saver.saveJsonData()">Save</button>
        <span data-ng-if="status.dataSaved">Dati salvati!</span>

        <h3>Errors</h3>
        <ic3-data-collection
            ic3-data-class="'TSIPatientDataClass'" 
            xsl-path="'../dist/xslt/SchemaToErrorList.xsl'"
            crf-path="'TSIPatientData_Test.xml'"
            data-ng-model="crfs">
        </ic3-data-collection>

        <h3>Warnings</h3>
        <ic3-data-collection
            ic3-data-class="'TSIPatientDataClass'" 
            xsl-path="'../dist/xslt/SchemaToWarningList.xsl'"
            crf-path="'TSIPatientData_Test.xml'"
            data-ng-model="crfs">
        </ic3-data-collection>

        <h3>Missings</h3>
        <ic3-data-collection
            ic3-data-class="'TSIPatientDataClass'" 
            xsl-path="'../dist/xslt/SchemaToMissingList.xsl'"
            crf-path="'TSIPatientData_Test.xml'"
            data-ng-model="crfs">
        </ic3-data-collection>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-sanitize.js"></script>
        <script src="../dist/scripts/vendor/angular-translate.js"></script>
        <script src="../dist/scripts/vendor/frameless-xslt2.js"></script>
        <script src="../dist/scripts/vendor/moment.js"></script>
        <script src="../dist/scripts/vendor/libsodium.js"></script>
        <script src="../dist/scripts/vendor/libsodium-wrappers.js"></script>

        <script src="../dist/scripts/services/GUIDStorage.js"></script>
        <script src="../dist/scripts/services/JSONStorage.js"></script>
        <script src="../dist/scripts/services/JSONService.js"></script>
        <script src="../dist/scripts/services/RESTStorage.js"></script>
        <script src="../dist/scripts/services/MongoService.js"></script>
        <script src="../dist/scripts/services/TranslationStorage.js"></script>
        <script src="../dist/scripts/services/PatientStatusService.js"></script>
        <script src="../dist/scripts/services/DataSynchronyzer.js"></script>

        <script src="../dist/scripts/directives/DataCollectionDirective.js"></script>
        <script src="../dist/scripts/directives/DataClassDirective.js"></script>
        <script src="../dist/scripts/directives/DatePickerDirective.js"></script>
        <script src="../dist/scripts/directives/ShortCircuitDirective.js"></script>
        <script src="../dist/scripts/directives/PatientsListDirective.js"></script>

        <script src="../dist/scripts/directives/RegionPickerDirective.js"></script>
        <script src="../dist/scripts/directives/ProvincePickerDirective.js"></script>
        <script src="../dist/scripts/directives/TownPickerDirective.js"></script>
        
        <script src="../dist/scripts/directives/TooltipDirective.js"></script>

        <script src="../dist/scripts/controllers/AbstractController.js"></script>
        <script src="../dist/scripts/controllers/ObjectController.js"></script>
        <script src="../dist/scripts/controllers/Controller.js"></script>

        <script src="../dist/scripts/utils/GlobalUtils.js"></script>
        
        <script src="../dist/scripts/applications/Application.js"></script>
        <script>
            const jsonPath = ""; // Needed by GeoTypes
            const config = {
                userId : "USER_ID", //TODO
                dataType : "DATATYPE", //TODO
                dataKey : "DATAKEY", //TODO
                dataSource : "DATASOURCE", //TODO
                dataStorageURL: "https://127.0.0.1:4680/rows",
                keysStorageURL: "https://127.0.0.1:4690",
                translationsURL : "TRANSLATIONSURL", //TODO
                crfServiceURL : "CRFSERVICEURL", //TODO
                dataPath : "DATAPATH", //TODO
                applicationName : "APPLICATIONNAME", //TODO
                blockName : "BLOCKNAME", //TODO
                culture : "CULTURE", //TODO
            }
        
            it.marionegri.givitiweb.CollectionBaseApplication.create(config);
        </script>
    </body>
</html>