﻿
ic3-data-collection div span.setDescription {
	color: #622;
	font-size: 12pt;
	font-weight: normal;
}

ic3-data-collection div input[type="input"] {
	width: 160px;
}

#crfs\.kitsPackages > ul > li 
{
	padding: 10px 30px 30px;
	margin: 30px;
	background-color: #f3f0ee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#crfs\.kitsPackages > ul > li > div.expanded
{
	display: block;
	margin-top: 10px;
	margin-left: 50px;
}

#crfs\.kitsPackages > ul > li > div.collapsed
{
	margin-top: 10px;
	margin-left: 20px;
}

ic3-data-collection [id $= "notes"]
{
	width: 400px;
}

ic3-data-collection [id $= "codeError"] {
	background-color: #f00;
	color: #fff;
	display: inline;
	margin-right: 10px;
	padding: 2px 5px;
}

ic3-data-collection li.KitPackage > div > p
{
	font-size: 18px;
}

ic3-data-collection li.KitPackage > div > button
{
	left : 50px;
	position : absolute;
}

ic3-data-collection li.KitPackage > div.collapsed div
{
	display: inline-block;
}

#crfs\.kitsPackages > ul > li > div.expanded ul > li {
	list-style: decimal inside;
	margin-left: 5px;
}

#crfs\.kitsPackages li.Kit > div 
{
	padding-left: 5px;
}

#crfs\.kitsPackages li.KitPackage .set 
{
	margin-top: 25px;
}


ic3-data-collection div span.checkBoxDescription,
ic3-data-collection div span.radioDescription,
ic3-data-collection div span.setDescription,
ic3-data-collection div label
{
	max-width: 400px;
}
