<html>
    <head>
        <title>BioBank Basic Example</title>
        <link rel="stylesheet" href="../../dist/assets/css/angular-crafter.css">
        <link rel="stylesheet" href="angular-crafter.biobank-data.css">
    </head>

    <body data-ng-app="it.marionegri.givitiweb.AngularCrafter">

        <script>
            const dataType = "DATATYPE"; //TODO
            const dataKey = "DATAKEY"; //TODO
            const dataSource = "DATASOURCE"; //TODO
            const dataStorageURL = "DATASTORAGEURL"; //TODO
            const translationURL = "TRANSLATIONSURL"; //TODO
            const crfServiceURL = "CRFSERVICEURL"; //TODO
            const dataPath = "DATAPATH"; //TODO
            const applicationName = "APPLICATIONNAME"; //TODO
            const blockName = "BLOCKNAME"; //TODO
            const culture = "CULTURE"; //TODO
        </script>
        
        <ic3-data-collection 
            ic3-data-class="'BiobankData'" 
            xsl-path="'BiobankToPage.xsl'"
            crf-path="'biobank.xml'"
            data-ng-model="crfs">
        </ic3-data-collection>

        <details>
            <summary>Model</summary>
            {{ crfs }}
        </details>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-sanitize.js"></script>
        <script src="../../dist/scripts/vendor/angular-translate.js"></script>
        <script src="../../dist/scripts/vendor/frameless-xslt2.js"></script>

        <script src="../../dist/scripts/services/GUIDStorage.js"></script>
        <script src="../../dist/scripts/services/JSONStorage.js"></script>
        <script src="../../dist/scripts/services/JSONService.js"></script>
        <script src="../../dist/scripts/services/TranslationStorage.js"></script>

        <script src="../../dist/scripts/directives/DataCollectionDirective.js"></script>
        <script src="../../dist/scripts/directives/DataClassDirective.js"></script>
        <script src="../../dist/scripts/directives/DatePickerDirective.js"></script>
        <script src="../../dist/scripts/directives/ShortCircuitDirective.js"></script>

        <script src="../../dist/scripts/controllers/AbstractController.js"></script>
        <script src="../../dist/scripts/controllers/ObjectController.js"></script>
        <script src="../../dist/scripts/controllers/Controller.js"></script>
        <script src="BioBankController.js"></script>

        <script src="../../dist/scripts/utils/GlobalUtils.js"></script>
        
        <script src="../../dist/scripts/applications/Application.js"></script>
        <script src="BioBankApplication.js"></script>

        <script>
            it.marionegri.givitiweb.BioBankApplication.create();
        </script>

    </body>
</html>